<% content_for :title do %>
<% end %>

<p>
Sparkling and Wine is a Swedish wine import company who specializes in
importing champagne. The champagnes come from our selected producers.
</p>

<p>
We also import Cava from the Catalan district in Spain.
</p>


